{% extends 'user/layout.html.twig' %}

{% block title %}Registrace - {{ parent() }}{% endblock %}

{% block content %}
    <div class="flex justify-center">
        <div class="card w-full max-w-md">
            <div class="card-body">
                <h2 class="text-center text-2xl font-bold mb-4 text-gray-900">Vytvořit účet</h2>

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.firstName) }}
                    {{ form_row(registrationForm.lastName) }}
                    {{ form_row(registrationForm.password.first) }}
                    {{ form_row(registrationForm.password.second) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-primary w-full">Registrovat</button>
                    </div>
                {{ form_end(registrationForm) }}

                <div class="relative my-6">
                    <div class="absolute inset-0 flex items-center">
                        <div class="w-full border-t border-gray-200"></div>
                    </div>
                    <div class="relative flex justify-center text-sm">
                        <span class="px-2 bg-white text-gray-500">NEBO</span>
                    </div>
                </div>

                <p class="text-center text-gray-700">
                    Už máte účet?
                    <a href="{{ path('app_login') }}" class="link">Přihlaste se</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
